html, body {
/*	background-color: yellow; */
	min-height: 101%;
}

@keyframes myfirst
{
0% {
	line-height:0;
	opacity:0;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
25% {
	line-height:3;
	 opacity:1;
	 padding: 15px;
	margin-bottom: 20px;
}
100% {
	line-height:0;
	opacity:0;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0% {
	line-height:0;
	opacity:0;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
25% {
	line-height:3;
	opacity:1;
	padding: 15px;
	margin-bottom: 20px;
}
100% {
	line-height:0;
	opacity:0;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
}

.alert-success {
 	line-height:0;
	opacity:0;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.alert-success.ng-hide {
 	line-height:3;
	opacity:1;
	padding: 15px;
	margin-bottom: 20px;
}
 
.alert-success.ng-hide-remove {	
	display:block!important;
	animation: myfirst 2s;
	-webkit-animation: myfirst 2s; /* Safari and Chrome */
 }

 .CodeMirror pre {
 	font-size: 12px;
 }

/*
.CodeMirror-scroll {
	padding: 0px;
}
*/

 .CodeMirror {
 	height: 260px;
 }

 #Text {
	height: 300px;	
}

/*
#preview {
	overflow-y: scroll;
}
*/

#paragraph-list .panel-body {
	padding: 0px;
}

#paragraph-list .panel-body li {
	padding: 0px;
}	

#paragraph-list .panel-body .list-group-item {
	border-top: 0px solid #dddddd;
	border-left: 0px solid #dddddd;
	border-right: 0px solid #dddddd;
/*	border: 0px solid #dddddd; */
	margin: 0px;
}

#filter-bar .panel-heading {
	background: transparent;
	border-bottom-width: 0px;
	padding-bottom: 0px;
}

#filter-bar .panel-body {
	padding: 0px;
}

#state-filters {
	/* padding: 0px;	*/
}

.badge-danger {
	background-color: #b94a48;
}

.badge-success {
	background-color: #468847;
}

.badge-warning {
	background-color: #f0ad4e;
	font-size: 10px;
}

/*
#Text {
	height: 165px;		
}
*/


.btn.filteractive {
	opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;	
}